services:
  nextjs:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: drapaulaped-dev
    ports:
      - "3000:3000"
    volumes:
      - .:/app
      - /app/node_modules
      - /app/.next
    command: npm run dev
